@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.ttf") format("embedded-opentype"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
}

/* Track */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #a29bfe;
}
::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
  border-radius: 1rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Vazir" !important;
}

/* Over Write */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2 !important;
}

.preloader{
  background: url(../images/gifs/preloader.gif) center no-repeat;
  background-color: #f1f2f3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 5000;
}

/* Utilities */
a {
  text-decoration: none;
}

.cellphone {
  direction: ltr !important;
  text-align: right ;
}

.lh-0{
  line-height: 0 !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}
.fs-9 {
  font-size: 0.7rem !important;
}
.fs-10 {
  font-size: 0.6rem !important;
}

.bg-blue{
  background-color: #119dc4 !important;
}

.bg-yellow{
  background-color: #fdcb6e !important;
}
.bg-green{
  background-color: #00b894 !important;
}

.btn-light-primary{
  background-color: #eaf1f1;
  color: #6c5ce7;
  transition: all 0.3s;
  border: none;
}
.btn-light-primary:hover{
  background-color: #cedbdb;
  color: #000;
}



/* Override */
.pagination .active-sm{
  background-color: #eaf1f1 !important;
  color: #6c5ce7 !important;
  border: none !important;
}


/* Side Bar */
.sidebar {
  width: 16rem;
  height: 100vh;
  position: fixed;
  padding: 2rem;
  overflow-y: hidden;
  z-index: 1000;
  background-color: #fff;
  transition: all 0.8s;
}
.sidebar:hover {
  overflow-y: auto;
}
.sidebar #closeSideBar {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.sidebar #closeSideBar:hover {
  color: #eb4d4b;
}

.sidebar .sidebar-item {
  list-style: none;
}

.sidebar .sidebar-item .active {
  background-color: #6c5ce7;
}
.sidebar .sidebar-item .sidebar-link.active span {
  color: #fff;
}
.sidebar .sidebar-item .sidebar-link.active i {
  color: #fff;
}
.sidebar .sidebar-item .sidebar-link.active:hover i {
  color: #fff;
}

.sidebar .sidebar-item .sidebar-link.active:hover {
  background-color: #786ff0;
}

.sidebar .sidebar-item .sidebar-link {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  transition: all 0.3s;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #2d3436;
}

.sidebar .sidebar-item .sidebar-link:hover {
  background-color: #eaf1f1;
}

.sidebar .sidebar-item .sidebar-link i {
  font-size: 1.3rem;
  transition: all 0.3s;
}

.sidebar .sidebar-item .sidebar-link .bi-chevron-down {
  font-size: 0.8rem;
  color: #2d3436 !important;
  transition: all 0.3s;
}
.sidebar .sidebar-item .sidebar-link .bi-chevron-up {
  font-size: 0.8rem;
  color: #2d3436 !important;
  transition: all 0.3s;
}

.sidebar .sidebar-item .sidebar-link:hover i {
  color: #eb4d4b;
}

.sidebar .sidebar-item .submenu {
  display: none;
  list-style: none;
}

.sidebar .sidebar-item .submenu .submenu-item {
  transition: all 0.3s;
}

.sidebar .sidebar-item .submenu .submenu-item:hover {
  margin-right: 0.5rem;
}

.sidebar .sidebar-item .submenu .submenu-item a {
  color: #a29bfe;
}

.sidebar .sidebar-item .submenu .submenu-item:hover a {
  color: #6c5ce7;
}



/* Main */
.main {
  background-color: #eaf1f1;
  padding: 1rem;
  transition: all 0.8s;
}

.main #openSideBar {
  font-size: 30px;
  cursor: pointer;
  color: #119dc4;
  transition: all 0.3s;
}

.main .header .message-box {
  cursor: pointer;
}
.main .header .message-box .dropdown-menu {
  width: 20rem !important;
}
.main .header .alert-box {
  cursor: pointer;
}
.main .header .alert-box .dropdown-menu {
  width: 20rem !important;
}
.main .header .profile-box {
  cursor: pointer;
}
.main .header .profile-box .profile::after {
  display: none !important;
}
.main .header .profile-box .dropdown-menu {
  width: 13rem;
}



.main .card{
  padding: 0.5rem;
  border: none !important;
  border-radius: 1.3rem;
}
.main .card .card-header{
  padding: 0.5rem;
  border: none !important;
  background-color: #fff;
}

.main .content .stats .card .stats-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}
.main .content .stats .card .stats-icon i{
  padding: 0.5rem;
  color: #fff;
  border-radius: 3rem;
  line-height: 0;
}

.main .content #chartdiv{
  height: 500px;
}
.main .content #chart-circle{
  height: 250px;
}